.button
  font-family 'Open Sans', sans-serif
  // background-image linear-gradient(to right, c-main-blue, c-main-green)
  // background c-main-red
  // background c-main-light-green
  background c-main-light-green
  color white
  min-width 160px
  padding 8px
  border-radius 18px
  // border-radius 4px
  cursor pointer
  margin 8px 0
  &:disabled
    // background rgba(c-main-light-green, .5)
    background: rgba(178, 108, 46, 1);

  &.large
    display block
    text-align center
    margin-bottom 16px
