.logo
  // width 120px
  // height 60px
  height 40px
  // margin 2px 0
  &-text
    width 200px
    // margin-bottom 8px

  &--white
    width 160px
    // height 27px

.person
  width 60px
  margin-bottom 4px

.voucher
  max-width 192px
  margin 8px 0
  vertical-align middle

.photo
  width 50px
  height 60px
  margin 12px auto
  display table
  border-radius 50%
  
.photo-logo
  height: 80px;
  display: block;
  margin auto ;
  margin-bottom 40px ;  // Añadido para separar la imagen de los inputs arriba y abajo
  margin-top 40px
.photo-header 
  width 50px
  height 50px
  margin 12px auto
  display table
  border-radius 50%
  margin-bottom 10px ;  // Añadido para separar la imagen de los inputs arriba y abajo  
  

@media (max-width: d-break)
  .photo-logo 
    display none
@media (min-width: d-break)
  .photo 
    display none
@media (max-width: d-break)
  .photo-header
    display block