.route
  // color c-main-green
  // color c-main-golden
  // color c-main-light-green
  // color c-main-purple
  color c-main-green
  // font-weight 700
  // letter-spacing -0.75px
  // font-size 12px
  font-size 14px

.link
  color white
  font-weight 300

.alert
  color c-red
  font-size 10px

.success
.waiting
  margin 8px 0
  display inline-block

.success
  color #80c700

.waiting
  color c-orange

.copy
  font-size 10px
  color c-green
  margin-left 8px

.slogan
  font-weight 600
  font-style italic
  display flex
  align-items center
  @media (max-width: m-break)
    display none


.in
  color c-ligh-green
.out
  color c-red

section
  h4
    margin 8px 0
