body
p
h3
h4
  margin 0
input
select
button
  outline 0
  border 0
a
  text-decoration none
*
  box-sizing border-box
img
  vertical-align top

input[type=file]
  display none

// ios
input
select
  /*appearance none*/
  border-radius 0
